/* General Page layout */
html,
body {
  height: 100%;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
 }

 /*  General and Miscellaneous Tag Styles */
label, input {
    margin : 5px 0;
    float: left;
}

.smaller-text {
    font-size: 0.9em;
}

.alone {
    clear: both;
}

.float-l {
    float: left;
}
.float-r {
    float: right;
}

.display-details strong {
    display: inline-block;
    width: 200px;
}

.panel-btn {
    display: inline-block;
    margin-left: 40px;
}

.user-image {
    max-width: 300px;
    max-height: 300px;
    min-width: 150px;
    min-height: 150px;
}

/* Zebra grid on some div displays */
.form-pane .row {
    border-bottom: 1px solid #DDDDDD;
}
.form-pane .row:hover {
    background-color: #F5F5F5;
}
.form-pane .row-striped {
    background-color: #F9F9F9;
}

.view, .view-striped {
    border-top: 1px solid #DDDDDD;
    height: 30px;
    padding: 4px;
}
.view:hover {
    background-color: #F5F5F5;
}
.view-striped {
    background-color: #F9F9F9;
}


/*
*   FORMS
*
*/

.form-group{
    overflow: hidden;
    position: relative;
    clear: both;
}
.form-group.actions-row {
    padding-left: 200px;
}
    .form-group > label {
        width: 200px;
    }
    .form-group .form-control {
        width: 270px;
    }
    .form-group .form-pane {
        clear:both;
        overflow: hidden;
    }
        .form-group .form-pane label {
            font-weight: 100;
        }
/*
*
* LOGIN PAGE 
*
*/

.login-page {
    background: #444444;
    color: #F1F1F1;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; 
    bottom: 0;
    top:0;
    position: absolute;
}
    .login-page .login-form {
        background: #FFFFFF;
        color: #333333;
        width: 351px;
        height: 530px;
        margin: auto;
        margin-top:30px;
        border: 1px solid #666666;
        text-align: center;
        position:relative;
    }

        .login-page .login-form .form-head,
        .login-page .login-form form {
            width: 300px;
            margin: auto;
        }
        .login-page .login-form .form-head {
            height: auto;
            max-height: 210px;
            margin-top: 20px;
            overflow: hidden;
        }
            .login-page .login-form .form-head h3{
                font-weight: 100;
            }
            .login-page .login-form .form-head .alert{
                padding: 5px;
            }
        .login-page .login-form .info {
            color:#999;
            border-top: 1px solid #CCCCCC;
            border-bottom: 1px solid #CCCCCC;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
            .login-page .login-form .form-group .form-control {
                padding-left: 25px;
                width: 100%;
            }
            .login-page .login-form .form-group .glyphicon {
                position: absolute;
                left: 5px;
                top:16px;
            }
    .login-page .help {
        text-align:right;
        padding-right: 27px;
    }
    .login-page .foot {
        color:#999999;
        bottom: 0;
        border-top: 1px solid #CCCCCC;
        margin-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
        position: absolute;
    }

/*
*
* GLOBAL LAYOUTS VIEW
*
*/
    .user-settings {
        display: none;
        background-color: #313131;
        border: 1px solid #CCCCCC;
        width: 190px;
        top: 52px;
        position: absolute;
        right: 5px;
        z-index: 2;
    }
        .user-settings div{
            background-color: #FFFFFF;
            border-bottom: 1px solid #CCCCCC;
            position: relative;
            height: 40px;
        }
        .user-settings > div:hover{
            background-color: #F1F1F1;
            cursor: pointer;
        }
            .user-settings div a{
                line-height: 35px;
                padding-left: 35px;
                color: #333333;
                display: inline-block;
                width: 100%;
            }
            .user-settings div a:hover{
                text-decoration: none;
            }
            .user-settings div span{
                position: absolute;
                left: 5px;
                top: 11px;
            }
/*
 *
 *
 * BODY
 *
 */                
/*
 *      Side Menubar Left
 */
    .sidebar{
         background-color: #3D3D3D;
         color: #D1D1D1;
         top: 51px;
         position: fixed;
         padding: 0;
    }
        .sidebar ul {
            list-style-type: none;
        }
        .sidebar > ul {
            padding-left: 0;
            margin-top: 40px;
        }
            .sidebar > ul > li {
                border-bottom: 1px solid #636363;
            }
                .sidebar .main-menu {
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
                    position: relative;
                }
                .sidebar .main-menu:hover {
                    background-color: #313131;
                    cursor: pointer;
                }
                .sidebar .main-menu.active {
                    background-color: #E02222;
                    background-image: url("/i/white-triangle.png");
                    background-repeat: no-repeat;
                    background-position: right center;
                }
        .sidebar .sub-menu {
            display: none;
        }
        .sidebar .sub-menu-title {
            height: 30px;
            line-height: 30px;
            padding-left: 20px;
        }
        .sidebar .sub-menu-title:hover {
            background-color: #313131;
        }
        .sidebar .sub-menu-items {
            padding-left: 25px            
        }
                .sidebar .sub-menu-items li div{
                    position: relative;
                    padding-left: 15px;
                    height: 30px;
                    line-height: 30px;
                }
                .sidebar .sub-menu-items li div:hover{
                    background-color: #313131;
                    cursor: pointer;
                }
        .sidebar a{
            color: #D1D1D1;
        }
        .sidebar a:hover{
            text-decoration: none;
        }

/*  Main area*/

    .row .main {
        margin-top: 71px;
        overflow-y: auto;
    }
    
/*
*
* FOOTER
*/
.footer{
    line-height : 50px;
    height      : 50px;
    font-size: 0.9em;
    text-align: center;
}

/*
*
*   ERRORS PAGE (404)
*
*/
.error-page {
    text-align: center;
    padding-top: 40px;
}

/**
 *MEASURE VIEW
 */
.alphanumericInput{
    float: left;
}
.alphanumericSlash{
    font-size:30px;
}
.form-group .form-control.input-small{
    width: 120px;
}