/* General Tag Styling */
body{
    margin      : 0;
    padding     : 0 0 50px 0;
    font-family : "Helvetica", "Arial";
    font-size   : 14px;
    line-height : 18px;
    cursor      : default;
}

a{
    color : #0D638F;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.container{
    width    : 960px;
    position : relative;
    margin   : 0 auto;
}

.content{
    padding : 25px 0;
}

label, input, .error{
    clear  : both;
    float  : left;
    margin : 5px 0;
}

.error{
    color : #ef7c61;
}

.smaller-text {
    font-size: 0.9em;
}

.alone {
    clear: both;
}

/* GENERAL LAYOUTS */

.grid{
    width: 100%;
    height: 100%;
}
    .grid .grid-2 {
        width: 49.5%;
        float: left;
    }
    .grid .grid-3 {
        width: 33%;
        float: left;
    }
    .grid .grid-3-2 {
        width: 66%;
        float: left;
    }

.float-l {
    float: left;
}
.float-r {
    float: right;
}

/* BUTTONS */
.btn-green{
    background-color: #1D943B;
    color: #FFFFFF;
}
.btn-green:hover{
    background-color: #35AA47;
}
.btn-red{
    background-color: #941D3B;
    color: #FFFFFF;
}
.btn-red:hover{
    background-color: #AA3547;
}

/* 
*ICONS 
*/
/*  16x16   */
.icon {
    height: 16px;
    width: 16px;
    background:url("/i/glyphicons-halflings.png");
    position: absolute;
    z-index: 1;
}
.icon.white {
    background-image:url("/i/glyphicons-halflings-white.png");
}
/*  22x20   */
.icon-2 {
    background-image:url("/i/glyphish-half-icons-dark.png");
    height: 20px;
    width: 22px;
    position: absolute;
    z-index: 1;
}
.icon-2.white {
    background-image:url("/i/glyphish-half-icons-light.png");
}
.icon.user {
    background-position: -166px 2px;
}
.icon.pass {
    background-position: -286px -22px;
}
.icon.left-arrow {
    background-position: -265px -144px;
}
.icon.right-arrow {
    background-position: -241px -144px;
}
/*      Sidebar Icons   */
.icon-2.home {
    background-position: -75px -173px;
}
.icon-2.test {
    background-position: -7px -306px;
}
.icon-2.report {
    background-position: -206px -40px;
}
.icon-2.inventory {
    background-position: 93px 93px;
}

/*
*   FORMS
*
*/

.form-row{
    overflow: hidden;
    position: relative;
}
    .form-row label {
        height: 34px;
        line-height: 34px;
        width: 200px;
    }
    .form-row input.text-field {
        width: 270px;
        padding-left: 20px;
        font-size: 14px;
        border: 1px solid #CCCCCC;
        height: 34px;
    }
    .form-row input.text-field:focus {
        border: 1px solid #999999; 
    }
    .form-row .btn-wrap {
        display: inline-block;
        width: 80px;
        font-size: 14px;
        height: 34px;
        overflow: hidden;
        position: relative;
    }
    .form-row .btn-wrap:hover,
    .form-row .btn-wrap input:hover {
        cursor: pointer;
    }
    .form-row .btn-wrap input,
    .form-row .btn-wrap a {
        border: 0;
        display: inline-block;
        height: 100%;
        line-height: 34px;
        margin: 0;
        padding-left: 10px;
        text-align: left;
        width: 100%;
    }
    .form-row .btn-wrap.icon-left input,
    .form-row .btn-wrap.icon-left a {
        padding-left: 20px;
    }
    .form-row .btn-wrap a:hover {
        text-decoration: none;
    }

/*
*
* LOGIN PAGE 
*
*/

.login-page {
    background: #444;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
    top:0;
    position: absolute;
}
    .login-page .login-form {
        background: #ffffff;
        width: 351px;
        height: 517px;
        margin: auto;
        margin-top:30px;
        border: 1px solid #666;
        text-align: center;
    }

        .login-page .login-form .form-head,
        .login-page .login-form form {
            width: 300px;
            margin: auto;
        }
        .login-page .login-form .form-head {
            height: 180px;
            margin-top: 20px;
            overflow: hidden;
        }
            .login-page .login-form .form-head h2{
                font-weight: 400;
                margin-bottom: 10px;
            }
            .login-page .login-form .form-head .error{
                width: 100%;
                text-align: center;
                font-size: 0.9em;
                font-weight: bold;
            }
        .login-page .login-form .info {
            color:#999;
            border-top: 1px solid #cccccc;
            border-bottom: 1px solid #cccccc;
            margin-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .login-page .login-form input.text-field {
            width: 270px;
            padding-left: 20px;
            font-size: 14px;
            border: 1px solid #ccc;
            height: 34px;
            border-left: 2px solid #339933;
            margin-left: auto;
            margin-right: auto;
        }
        .login-page .login-form input.text-field:focus {
            border-top: 1px solid #999; 
            border-right: 1px solid #999; 
            border-bottom: 1px solid #999; 
        }
        .login-page .login-form .btn-wrap {
            display: inline-block;
            float: right;
            width: 80px;
            font-size: 14px;
            height: 34px;
            margin-right: 5px;
            overflow: hidden;
            position: relative;
        }
        .login-page .login-form .btn-wrap:hover {
            cursor: pointer;
        }
            .login-page .login-form .btn-wrap input,
            .login-page .login-form .btn-wrap a {
                border: 0;
                display: inline-block;
                height: 100%;
                line-height: 34px;
                margin: 0;
                padding-left: 10px;
                text-align: left;
                width: 100%;
            }
            .login-page .login-form .btn-wrap.icon-left input,
            .login-page .login-form .btn-wrap.icon-left a {
                padding-left: 20px;
            }
            .login-page .login-form .btn-wrap input:hover {
                cursor: pointer;
            }
            .login-page .login-form .btn-wrap a:hover {
                text-decoration: none;
            }
        .login-page .login-form .icon.user,
        .login-page .login-form .icon.pass {
            top: 16px;
            left: 4px;
        }
        .login-page .login-form .icon.left-arrow {
            top: 10px;
            left: 4px;
        }
        .login-page .login-form .icon.right-arrow {
            top: 10px;
            right: 10px;
        }
    .login-page .help {
        text-align:right;
        padding-right: 27px;
    }
    .login-page .foot {
        color:#999;
        bottom: 0;
        border-top: 1px solid #cccccc;
        margin-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        position: absolute;
    }

/*
*
* GLOBAL LAYOUTS VIEW
*
*/
.header {
    background: #000000;
    width: 100%;
    min-width: 500px;
    height: 45px;
    position: fixed;
    top:0;
    z-index: 3;
}
    .header .grid .grid-2{
        min-width: 250px;
        width: auto;
    }
    .header .app-heading{
        padding-left: 20px;
        font-weight: 100;
        color: #636363;
    }
    .header .user-profile {
        line-height: 45px;
        float: right;
        position: relative;
    }
        .header .user-profile a {
            color: #999999;
            display: inline-block;
            width: 100%;
        }
        .header .user-profile a:hover {
            text-decoration: none;
        }
        .header .user-profile .user-link {
            height: 45px;
            width: 155px;
            overflow: hidden;
            float: right;
            padding-left: 35px;
            position: relative;
        }
        .header .user-profile .user-link:hover {
            background-color: #313131;
            cursor: pointer;
        }
            .header .user-profile .user-link .icon-2 {
                left: 10px;
                top: 11px;
                background-position: -5px 294px;
            }
        .header .user-profile .user-settings {
            display: none;
            background-color: #313131;
            width: 190px;
            float: right;
            top: 45px;
            position: absolute;
            right: 0px;
            z-index: 2;
        }
            .header .user-profile .user-settings div{
                background-color: #000000;
                padding-left: 40px;
                position: relative;
            }
            .header .user-profile .user-settings > div:hover{
                background-color: #313131;
                cursor: pointer;
            }
                .header .user-profile .user-settings div span{
                    position: absolute;
                    left: 5px;
                    top: 11px;
                }
                .header .user-profile .user-settings div .icon-2.user-edit {
                    background-position: 130px 60px;
                }
                .header .user-profile .user-settings div .icon-2.user-logout {
                    background-position: 31px -73px;
                }
/*
*
*
* BODY
*
*/                
.main-body{
    margin-top: 45px;
    min-width: 1024px;
    min-height: 673px;
    overflow: hidden;
    border-bottom: 1px solid #F1F1F1;
}
/*
*      Side Menubar Left
*/
    .main-body .left-side-bar{
         background-color: #3D3D3D;
         color: #D1D1D1;
         max-width: 225px;
         min-width: 225px;
         margin-right: 10px;
    }
        .main-body .left-side-bar ul {
            list-style-type: none;
        }
        .main-body .left-side-bar > ul {
            padding-left: 0;
            margin-top: 40px;
        }
            .main-body .left-side-bar > ul > li {
                border-bottom: 1px solid #636363;
            }
                .main-body .left-side-bar .main-menu {
                    height: 40px;
                    line-height: 40px;
                    padding-left: 40px;
                    position: relative;
                }
                .main-body .left-side-bar .main-menu:hover {
                    background-color: #313131;
                    cursor: pointer;
                }
                .main-body .left-side-bar .main-menu.active {
                    background-color: #E02222;
                    background-image: url("/i/white-triangle.png");
                    background-repeat: no-repeat;
                    background-position: right center;
                }
                    .main-body .left-side-bar .main-menu > .icon-2 {
                        left: 15px;
                        top: 8px;
                    }
        .main-body .left-side-bar .sub-menu {
            height: 30px;
            line-height: 30px;
            padding-left: 20px;
        }
        .main-body .left-side-bar .sub-menu:hover {
            background-color: #313131;
        }
        .main-body .left-side-bar .sub-menu-items {
            padding-left: 25px            
        }
            .main-body .left-side-bar .sub-menu-items li {
                display: :inline-block;
            }
                .main-body .left-side-bar .sub-menu-items li div{
                    position: relative;
                    padding-left: 25px;
                    height: 30px;
                    line-height: 30px;
                }
                .main-body .left-side-bar .sub-menu-items li div:hover{
                    background-color: #313131;
                    cursor: pointer;
                }
                .main-body .left-side-bar .sub-menu-items li div .icon-2{
                    background-position: -141px -37px;
                    left: 2px;
                    top: 5px;
                }
    .main-body .main-area {
        min-width: 760px;
        margin-top: 10px;
    }
/*
*
* FOOTER
*/
.footer{
    line-height : 50px;
    height      : 50px;
    width       : 100%;
    min-width: 1024px;
    position : relative;
    font-size: 0.9em;
    text-align: center;
    overflow: hidden;
}

/*
*
*   ERRORS PAGE (404)
*
*/
.error-page {
    text-align: center;
    padding-top: 40px;
}
    .error-page a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding: 0px 20px;
        padding-left: 40px;
        border: 1px solid #F1F1F1;
        border-radius: 3px;
        margin-top: 20px;
        position: relative;
    }
    .error-page a:hover {
        background-color: #F1F1F1;
        text-decoration: none;
    }
        .error-page a span {
            top:13px;
            left: 20px;
        }

/*
*
*   PROFILE PAGE
*
*/
.section {
    border: 1px solid #1C94C4;
    overflow: hidden;
}
    .section .section-title {
        border-bottom: 1px solid #1C94C4;
        background-color: #1C94C4;
        color: #FFFFFF;
        height: 38px;
        line-height: 38px;
        padding-left: 40px;
        font-weight: bold;
        position: relative;
    }
        .section .section-title .icon-2 {
            left: 5px;
            top: 9px;
        }
        .section .section-title .user-edit {
            background-position: 130px 60px;
        }
    .section .user-profile-form {
        margin: 10px 25px;
        overflow: hidden;
    }
        .section .user-profile-form .form-row label,
        .section .user-profile-form .form-row input {
            float: left;
            clear: none;
        }
        .section .user-profile-form .form-row .btn-wrap{
            width: 120px;
            text-align: center;
        }
